{% extends "home.html" %}

{% block title %}Job{% end %}

{% block main %}

  <div class="inline">Am I looking for a job?</div>
  <div class="inline" id="job-answer">{{ answer }}</div>
  
  <div class="">Are you a recruiter? I would love to connect <a href="https://www.linkedin.com/in/ypodim/">with you on LinkedIn!</a></div>
  <div class="inline job-badge"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="ypodim"><a class="LI-simple-link" href='https://www.linkedin.com/in/ypodim?trk=profile-badge'>Polychronis Ypodimatopoulos</a></div></div>
  

{% end %}